<footer style="background-color: #34363A">
    <div class="container" style="padding:40px;">
        <div class="row">
            <div class="col-lg-9 row footer" style="color:lightgrey">
                <ul class="col-lg-4 col-md-4" style="list-style:none">
                    <li><h4>Thông tin</h4></li>
                    <address>
                        Trường Đại học Công nghệ Thông tin<br />
                        Khu phố 6, P.Linh Trung, Q.Thủ Đức, TP.Hồ Chí Minh.<br />
                        <abbr title="Phone"> SĐT:</abbr>
                        (028) 372 51993
                    </address>
                </ul>
                <ul class="col-lg-4  col-md-4" style="list-style:none">
                    <li><h4>Tài khoản</h4></li>
                    <li><a href="@Url.Action("Infor","User")">Tài khoản của bạn</a></li>
                    <li><a href="@Url.Action("Infor","User")">Lịch sử mua hàng</a></li>
                </ul>
                <ul class="col-lg-4  col-md-4" style="list-style:none">
                    <li><h4>Thông tin thêm</h4></li>
                    <li><a href="@Url.Action("Product","Product")">Thương hiệu</a></li>
                </ul>
            </div>
            <div class="col-lg-3 border-fix" style="color:lightgrey">
                <div class="rectangle p-2">
                    <h5>Thông tin liên hệ</h5>
                    <h6>Địa chỉ: UIT</h6>
                    <h6>Thời gian mở cửa : 7AM - 9PM</h6>
                </div>
            </div>
        </div>
    </div>
</footer>