<a class="nav-link d-inline-block bag text-center" href="@Url.Action("Cart","Cart")">
    <i class="fas fa-shopping-cart" style="color:#FFFFFF"></i>
    <span class="number">@ViewBag.tongsoluong</span>
</a>
