@{
    ViewBag.Title = "Login";
}
<div class="page-header-cart" style="background-image:url(https://media.istockphoto.com/vectors/pharmacy-business-medicine-drug-store-character-pharmacist-care-for-vector-id1133376756);">
    <div class="container body-content justify-content-center align-items-center" style="display:flex">
        <div class="login-form m-3">
            <form class="p-4" method="post">
                @using (Ajax.BeginForm("Login", "Login", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
                {
                    <h2 class="text-center" style="color:white">Đăng nhập</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Đăng nhập</button>
                    </div>
                    <div class="clearfix" style="font:8px">
                        <label style="color:white" class="pull-left checkbox-inline"><input type="checkbox">Nhớ mật khẩu</label>
                        <a href="@Url.Action("Forgett", "Login")" class="pull-right">Quên mật khẩu?</a>
                    </div>
                }
            </form>
            <div class="alert alert-danger text-center" style="display: contents">
                <h4 class="text-danger">@ViewBag.MessageLogin</h4>
            </div>
            <p class="text-center" style="font:6px;color:darkgrey">Chưa có tài khoản? <a href="@Url.Action("Register","Login")">Đăng kí ngay!</a></p>
        </div>
    </div>
</div>

