@{
    ViewBag.Title = "Về chúng tôi";
}
<div class="container body-content mt-4 mb-4">
    <div class="site-blocks-cover inner-page" style="background-image:  url('/asset/images/hero_1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto align-self-center">
                    <div class=" text-center">
                        <h1>Về chúng tôi</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="block-16">
                        <figure>
                            <img src="~/asset/img/bg_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                        </figure>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">


                    <div class="site-section-heading pt-3 mb-4">
                        <h2 class="text-black">Chúng tôi bắt đầu như thế nào</h2>
                    </div>
                    <p>
                        Được thành lập vào tháng 11/2011, Pharmacity là một trong những chuỗi nhà thuốc bán lẻ hiện đại đầu tiên tại thị trường Việt Nam, luôn luôn hướng đến mục tiêu nâng cao chất lượng chăm sóc sức khỏe cho từng khách hàng.
                        Hiện nay Pharmacity đã có hệ thống nhà thuốc rải khắp các quận tại TP.HCM. Chúng tôi hướng mục tiêu đến 2021 đạt được 1.000 cửa hàng bán lẻ thuốc tây và thực phẩm chức năng tại TP.HCM. Cùng với đó, trong tương lai Pharmacity sẽ mở rộng hệ thống của mình trên khắp cả nước, luôn hướng đến mục tiêu trở thành nhà thuốc bán lẻ hiện đại, mang đến trải nghiệm tối ưu cho khách hàng.
                    </p>

                </div>
            </div>
        </div>
    </div>



    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 order-md-2">
                    <div class="block-16">
                        <figure>
                            <img src="~/asset/img/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                            <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo">
                                <span class="icon-play"></span>
                            </a>

                        </figure>
                    </div>
                </div>
                <div class="col-md-5 mr-auto">
                    <div class="site-section-heading pt-3 mb-4">
                        <h2 class="text-black">Chúng tôi là chuỗi của hàng tin cậy</h2>
                    </div>
                    <p class="text-black">
                        Ở Pharmacity, mỗi dược sỹ không chỉ có năng lực chuyên môn cao, luôn tận tâm với nghề mà còn được đào tạo và huấn luyện để hoàn thành xuất sắc những sứ mệnh được giao, giúp Pharmacity luôn xứng đáng với niềm tin của khách hàng, xứng đáng với niềm tự hào của Việt Nam.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>The Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 mb-5">

                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/105927504_1677834032366231_3879940854323609213_n.jpg?_nc_cat=109&_nc_sid=85a577&_nc_ohc=kGZtsl76szIAX8UHryz&_nc_ht=scontent.fhan5-1.fna&oh=a66056b5d2a7c3f9dec0896ab84212d0&oe=5F34E216" alt="Image placeholder" class="rounded-circle p-0 mt-3" style="width:180px;height:150px">
                                <h3 class="block-38-heading h4">Tạ Xuân Quang</h3>
                                <p class="block-38-subheading">17520951</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 mb-5">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="https://scontent.fhan5-5.fna.fbcdn.net/v/t1.0-9/p960x960/98980641_1419882674887237_1081361126047875072_o.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=yxlvczt7_vUAX_AccNN&_nc_ht=scontent.fhan5-5.fna&_nc_tp=6&oh=c6375a29d09174f120ba23eb7ac4c8b4&oe=5F338B3F" alt="Image placeholder" class="rounded-circle p-0 mt-3" style="width:180px;height:150px">
                                <h3 class="block-38-heading h4">Nguyễn Hoàng Thanh Linh</h3>
                                <p class="block-38-subheading">17520686</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
